<button class="btn btn-info" (click)="addNew()">Add</button>

<div class="row  ">
  <div class="col-7">
    <ng-container *ngFor="let row of rows; let j = index; trackBy: trackByIndex">
      <div class="parent">
        {{ row.index }}
        <button  class="btn btn-info" (click)="addChildNew(row)">Add</button>
        <button  class="btn btn-info"  (click)="addInput(row)">Add inside Or</button>


        <div *ngFor="let insiderow of row.insiderows; let i = index; trackBy: trackByIndex">
            <div class="row">
              <div class="col-4">
                <ng-select

                [items]="options"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="insiderow.item"
                ></ng-select>
              </div>
              <div class="col-4">
                <ng-select

                [items]="options"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="insiderow.option"
                ></ng-select>
              </div>

              <div class="col-3">
                <input type="text" [(ngModel)]="insiderow.search" class="form-control" />
              </div>
              <div class="col-1">
                <button  class="btn btn-danger"  (click)="deleteRow(j,i)">X</button>

              </div>
            </div>


          </div>



        <!-- Generate and display combined search query for parent row -->
        <div>{{ row.generateQuery() }}</div>

        <ng-container *ngTemplateOutlet="recursiveRow; context:{ rows: row.row, parentIndex: j + '-'}">
        </ng-container>
      </div>
    </ng-container>

    <ng-template #recursiveRow let-rows="rows" let-parentIndex="parentIndex">
      <ng-container *ngFor="let childRow of rows; let o = index; trackBy: trackByIndex">
        <div class="child">
          {{ childRow.index }}
          <button  class="btn btn-primary"  (click)="addChildNew(childRow)">Add</button>
          <button  class="btn btn-primary" (click)="addNestedInput(childRow)">Add inside Or</button>




          <div *ngFor="let insiderow of childRow.insiderows; let y = index; trackBy: trackByIndex">
            <div class="row">
              <div class="col-4">
                <ng-select

                [items]="options"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="insiderow.item"
                ></ng-select>
              </div>
              <div class="col-4">
                <ng-select

                [items]="options"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="insiderow.option"
                ></ng-select> 
              </div>

              <div class="col-3">
                <input type="text" [(ngModel)]="insiderow.search" class="form-control" />
              </div>
              <div class="col-1">
                <!-- <button  class="btn btn-danger"  (click)="deleteChildRow(parentIndex,o,y)">X</button> -->

              </div>
            </div>

          </div>

          <!-- Generate and display combined search query for child row -->
          <div>{{ childRow.generateQuery() }}</div>

          <ng-container *ngTemplateOutlet="recursiveRow; context:{ rows: childRow.row, parentIndex: parentIndex + o + '-'}">
          </ng-container>
        </div>
      </ng-container>
    </ng-template>

  </div>
  <div class="col-5">

    <pre>{{ rows |json}}</pre>

  </div>
</div>


