<div class="container">
  <br />
  <br />


  <button (click)="addNew()">Add</button>
  <div *ngFor="let row of rows let j = index">
    <button (click)="addChildNew(j)">Add</button>
    <button (click)="addInput(row)">Add inside</button>

    <div *ngFor="let insiderow of row.insiderows; let i = index">
      <input type="text" [(ngModel)]="insiderow.search" />
    </div>

    <div *ngFor="let childRow of row.row let o = index">
      <button (click)="addChildNew(j)">Add</button>
      <button (click)="addInput(row)">Add inside</button>

      <div *ngFor="let insiderow of childRow.insiderows; let y = index">
        <input type="text" [(ngModel)]="insiderow.search" />
      </div>



    </div>

  </div>


{{rows | json}}



  <!-- <button class="btn btn-success" (click)="and()">And</button>
  <button class="btn btn-success" (click)="or()">Or</button>
  <button class="btn btn-success" (click)="addCondition()">+</button>
  <button class="btn btn-success" (click)="addNewCondition()">++</button>



  <div *ngFor="let condition of conditions; let i = index">
    <div class="d-flex">
      <ng-select
        style="width: 200px"
        [items]="items"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedItems[i]"
      >
      </ng-select>
      <ng-select
        [items]="options"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedOptions[i]"
        style="width: 200px"
      ></ng-select>
      <input type="text" [(ngModel)]="search[i]" />
    </div>

  </div> -->



  <br>
<br>
  <!-- <button class="btn btn-primary" (click)="apply()">Apply</button> -->

  <br />
  <br />
  <br />
  <br />

  <app-ngx-datatable
    *ngIf="employees"
    [data]="employees"
    [columns]="columns"
    apiType="api/employees"
  >
  </app-ngx-datatable>
</div>
